@import './homepage/homepage.scss';
@import './header/header.scss';
@import './aboutUs/aboutUs.scss';
@import './contactpage/contactpage.scss';
@import './detailblog/detailblog.scss';
@import './details-property/detailsProperty.scss';
@import './properties/properties.scss';





html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppinsMedium, sans-serif;
}

@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-1/Poppins-Black.ttf');
}


@font-face {
    font-family: poppinsRegular;
    src: url('../fonts/Poppins-1/Poppins-Regular.ttf');
    font-weight: 100;
}


@font-face {
    font-family: poppinsThin;
    src: url('../fonts/Poppins-1/Poppins-Thin.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('../fonts/Poppins-1/Poppins-Bold.ttf');
}


@font-face {
    font-family: poppinsLight;
    src: url('../fonts/Poppins-1/Poppins-Light.ttf');
}

@font-face {
    font-family: poppinsMedium;
    src: url('../fonts/Poppins-1/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppinssemiBold;
    src: url('../fonts/Poppins-1/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: poppinsBlack;
    src: url('../fonts/Poppins-1/Poppins-Black.ttf');

}

@font-face {
    font-family: poppinsBlack;
    src: url('../fonts/Poppins-1/');

}